[submodule "firstStep"]
	path = firstStep
	url = https://github.com/EdoardoCisco/firstStep.git
[submodule "secondStep"]
	path = secondStep
	url = https://github.com/EdoardoCisco/secondStep.git
[submodule "thirdStep-Recap"]
	path = thirdStep-Recap
	url = https://github.com/EdoardoCisco/thirdStep-Recap.git
